spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    url: jdbc:mysql://localhost:3306/springdb
    password: taulogy1!
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: 'true'
welcome:
  message: Welcome to the world of Spring-Boot, and With God I will make it Amen!!!
server:
  port: 8181


#4:08:42